.blog-container {
    padding: 90px 0;

    // margin: 0;
    .blog-grid {
        width: 100%;
        margin: 0 auto;

        .blog-grid-header {
            .blog-grid-img {
                width: 100%;
            }

            .blog-grid-content {
                padding: 30px 0;
                width: 100%;

                .blog-meta {
                    display: flex;
                    padding-bottom: 20px;
                    width: 100%;

                    &.blog-meta-column {
                        display: flex;
                        flex-direction: column;
                        .blog-date {
                            padding-left: 0;
                            padding-top: 8px;
                        }
                    }

                    .blog-author {
                        position: relative;
                        padding-right: 20px;

                    }

                    span {
                        color: #000;
                        
                    }

                    .blog-date {
                        padding-left: 20px;
                    }

                    .blog-date,
                    .blog-author {
                        @include font($font, 1rem, none);
                        display: flex;
                        line-height: 1rem;
                        align-items: center;

                        i {
                            padding-right: 8px;
                            padding-bottom: 4px;
                        }

                        p {
                            margin: 0;
                            // white-space: nowrap;
                            // overflow: hidden;
                            // text-overflow: ellipsis
                        }
                    }
                }

                .blog-title {
                    @include font($font, 1.6rem, 700);
                    margin-bottom: 16px;
                }

                .blog-desc {
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                }

                .read-more {
                    text-decoration: none;
                    color: #fff;
                    background-color: #000;
                    padding: 20px 20px 16px 20px;
                    text-transform: uppercase;
                    @include font($font, 1rem, 600);
                    @include transition(all, linear, .3s);

                    &:hover {
                        @include hover($hoverColor, none, pointer);
                    }
                }
            }
        }
    }
}