.product-details {
    padding: 100px 0;
    .details-container {

        .product-img {
            .img-center {
                width: 670px;

                .img-center-list {
                    .slick-arrow {
                        position: absolute;
                        top: 50%;
                        z-index: 9;
                        height: 20px;
            
                        &::before {
                            content: "";
                        }
                    }
            
                    .slick-prev {
                        left: 100px;
                    }
            
                    .slick-next {
                        right: 100px;
                    }
                    .behavior-prev {
                        font-size: 1.2rem;
                        width: 30px;
                        height: 30px;
                        padding: 10px;
                        color: #e9e9e9;
                        left: -30%;
                        bottom: -10%;
                        position: absolute;
                        z-index: 1;
                        @include transition(all, linear, .3s);
                    }
            
                    .behavior-next {
                        font-size: 1.2rem;
                        width: 30px;
                        height: 30px;
                        padding: 10px;
                        color: #e9e9e9;
                        right: -20%;
                        bottom: -10%;
                        position: absolute;
                        z-index: 1;
                        @include transition(all, linear, .3s);
                    }
            
                    .behavior-next:hover,
                    .behavior-prev:hover {
                        @include hover(none, #787878, pointer);
                        font-size: 1.4rem;
                    }
                    .img-center-item {
                        img {
                            width: 60%;
                            height: 60%;
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }

            .img-list {
                width: 100%;
                margin: 0;
                padding: 10px 0;

                .img-item {
                    // margin: 0 auto;
                    padding: 0;
                    width: 170px;

                    img {
                        width: 160px;
                        height: 160px;

                    }
                }
            }
        }

        .product-info {
            .product-title {
                @include font($font, 1.8rem, 700);
                margin-bottom: 30px;
            }

            .product-desc {

                .product-price,
                .product-color,
                .product-vendor {
                    padding-bottom: 15px;
                    @include font($font, 1.2rem, none);

                }

                .product-quantity {
                    margin: 10px 0;
                    padding-bottom: 16px;
                    display: flex;
                    width: 300px;

                    .product-sub,
                    .product-sum {
                        width: 50px;
                        height: 50px;
                        border: 1px solid #e9e9e9;
                        background-color: #fff;
                        @include font($font, 1.8rem, 600);
                        @include transition(all, linear, .3s);

                    }

                    .product-sub:hover,
                    .product-sum:hover {
                        @include hover(#000, #fff, pointer);
                        border-color: #000;
                    }

                    .quanlity-num {
                        border: {
                            top: 1px solid #e9e9e9;
                            bottom: 1px solid #e9e9e9;
                        }

                        ;
                        @include font($font, 1.2rem, 600);
                        width: 100px;
                        height: 50px;
                        background-color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-top: 4px;
                    }
                }
            }

            .product-button {
                margin: 20px 0;
                width: 100%;

                .btn {
                    border-radius: 0;
                    background-color: #000;
                    color: #fff;
                    text-transform: uppercase;
                    @include font($font, 1.2rem, 600);
                    width: 48%;
                    padding: 10px 10px 6px 10px;
                    @include transition(all, linear, .3s);

                    &:first-child {
                        margin-right: 8px;
                    }

                    &:hover {
                        @include hover($hoverColor, none, pointer);
                    }
                }
            }

            .product-description {
                margin: 20px 0;
                padding-top: 10px;
            }
        }


    }

    .also-product {
        margin-top: 80px;

        .also-product-title {
            @include font($font, 1.4rem, none);
            text-align: center;
            margin-bottom: 30px;
        }

        .also-product-list {
            padding: 0 60px;
            margin: 0 auto;
            list-style: none;

            .also-product-item {
                width: 200px;
                height: auto;
                margin: 0 auto;

                .also-product-img {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .also-product-info {
                    text-align: center;

                    p {
                        @include font($font, 0.9rem, none);
                        color: #787878;
                        margin-bottom: 4px;

                        a {
                            text-decoration: none;
                            color: #787878;

                        }
                    }
                }
            }
        }
    }
}