.shifter-page {
    padding: 100px 0;

    .shifter-list {
        list-style: none;
        margin: 0 70px;
        padding: 0;

        .shifter-item {
            height: 400px;
            width: 340px;
            margin: 0 auto;
            padding: 0;
            overflow: hidden;

            .shifter-img {
                height: 100%;
                width: 100%;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transform: scale(1);
                    @include transition(transform, linear, .3s);
                }

                .shifter-desc {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    padding: 30px;
                    background-color: #c65a24;
                    opacity: 0.8;
                    color: #fff;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    visibility: hidden;

                    .sub-text {
                        text-align: center;

                        .sub-title {
                            @include font($font, 1.2rem, 700);
                            text-transform: uppercase;
                            line-height: 1.2rem;
                            margin-bottom: 12px;
                        }

                        .sub-main-title {
                            @include font($font, 1.8rem, 700);
                            text-transform: uppercase;
                            line-height: 2.4rem;
                            margin-bottom: 20px;
                            padding-bottom: 20px;
                            position: relative;

                            &::after {
                                content: "";
                                position: absolute;
                                width: 40px;
                                height: 2px;
                                top: 100%;
                                left: 43%;
                                background-color: #fff;
                            }
                        }

                        .sub-desc {
                            line-height: 1.8rem;
                            margin: 0;
                        }
                    }
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }

                    .shifter-desc {
                        visibility: visible;
                    }
                }
            }
        }
    }

}

.page-icon-text {
    background-color: #e6e6e6;
    padding: 100px 0;

    .page-icon-list {
        padding: 0;
        margin: 0 80px;

        .page-icon-item {
            margin: 0 auto;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .page-icon-bg {
                width: 170px;
                height: 170px;
                background-color: #000;
                margin-bottom: 30px;
                position: relative;
                @include transition(all, linear, .3s);
                animation: wave 5s ease-in-out infinite;

                .page-icon-image {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        transform: scale(0.4);
                        @include transition(transform, linear, .3s);
                    }
                }

                &:hover {
                    background-color: #eb6420;
                    animation: wave 10s ease-in-out infinite;

                    .page-icon-image img {
                        transform: scale(0.6);
                    }
                }
            }

            .page-icon-content {
                text-align: center;
                cursor: context-menu;

                .page-main-title {
                    @include font($font, 1.4rem, 700);
                    text-transform: uppercase;
                    line-height: 2rem;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@keyframes wave {

    0%,
    100% {
        border-radius: 66% 34% 37% 63% / 57% 31% 69% 43%;
    }

    60% {
        border-radius: 25% 75% 50% 50% / 25% 50% 45% 80%;
    }
}

.page-box {
    .page-box-info {
        background-color: #000;
        padding: 100px 200px;

        .page-box-content {
            padding: 0 30px;
            cursor: context-menu;

            .page-box-title {
                .heading-title {
                    color: #eb6420;
                    @include font($font, 2.4rem, 700);
                    line-height: 3rem;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }

                .main-title {
                    color: #fff;
                    @include font($font, 2.4rem, 700);
                    line-height: 3rem;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
            }

            .page-box-desc {
                color: #fff;
                line-height: 1.8rem;
                text-align: justify;
            }
        }

        .page-box-button {
            display: flex;
            justify-content: center;
            align-items: center;

            .page-box-btn {
                color: #000;
                background-color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                @include font($font, 1.2rem, none);
                padding: 14px 30px 10px 30px;
                @include transition(all, linear, .3s);

                // span {
                //     margin-top: 4px;
                // }

                &:hover {
                    @include hover($hoverColor, #fff, pointer);
                }
            }
        }
    }
}

.page-team {
    padding: 100px 0;
    margin-bottom: 100px;

    .page-team-container {
        .page-team-title {
            text-align: center;
            margin-bottom: 50px;
            cursor: context-menu;

            .page-team-heading {
                @include font($font, 2.4rem, 700);
                text-transform: uppercase;
                line-height: 3rem;
                margin-bottom: 10px;
            }

        }

        .page-team-list {
            padding: 0;
            margin: 0 80px;

            .page-team-item {
                margin: 0 auto;
                width: 250px;
                height: 260px;

                .page-team-image {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .page-team-icon {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 1;


                        .page-icon-button {
                            list-style: none;
                            padding: 0 10px;
                            margin-bottom: 0;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                            right: 0;
                            z-index: 999;
                            visibility: hidden;
                            opacity: 0;
                            @include transition(all, ease, .8s);

                            .page-icon-social {
                                padding: 0 5px;

                                i {
                                    width: 40px;
                                    height: 40px;
                                    background-color: #000;
                                    color: #fff;
                                    padding-top: 12px;
                                    text-align: center;

                                    &:hover {
                                        @include hover($hoverColor, #fff, pointer);
                                    }
                                }
                            }
                        }
                    }
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        background-color: rgba(235,100,32, 0.5);
                        @include transition(all, linear, .3s);
                    }
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 0;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        background-color: rgba(235,100,32, 0.5);
                        @include transition(all, linear, .3s);
                    }
                    
                    &:hover {
                        &::before,
                        &::after {
                            width: 50%;
                        }

                        .page-icon-button {
                            visibility: visible;
                            bottom: 20px;
                            opacity: 1;
                        }
                    }

                }

                .page-team-content {
                    text-align: center;
                    cursor: context-menu;
                    h5 {
                        @include font($font, 1.2rem, 700);
                        text-transform: uppercase;
                        line-height: 1.6rem;
                    }
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}